.svelte-flow {
	--xy-edge-stroke: #4caf50;
}

.svelte-flow__handle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid var(--color-dark-border-strong);
	background: var(--color-dark-highlight);
	transition: all 0.2s ease-in-out;
}

.svelte-flow__handle:hover {
	scale: 1.3;
	background: var(--color-accent);
	border-color: var(--color-accent);
}

.svelte-flow__handle-top {
	top: -12px;
}

.svelte-flow__handle-bottom {
	bottom: -12px;
}

.svelte-flow__handle-left {
	left: -12px;
}

.svelte-flow__handle-right {
	right: -12px;
}
